<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="percent" style="--clr:#04fc43;--num:<%= percentage1 %>">
                <div class="dot"></div>
                <svg>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                </svg>
                <div class="stats">
                    <h2><%= percentage1 %><span>%</span> </h2>
                    <p>Maths</p>
                </div>
                <form action="/" method="post">
                    <input type="number" name="inp1">
                    <button name="btn1" autocomplete="off" value="1" type="submit" >OK</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#04a5fc;--num:<%= percentage2 %>">
                <div class="dot"></div>
                <svg>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                </svg>
                <div class="stats">
                    <h2><%= percentage2 %><span>%</span> </h2>
                    <p>EDM</p>
                </div>
                <form action="/" method="post">
                    <input type="number" name="inp2">
                    <button name="btn1" autocomplete="off" value="2" type="submit" >OK</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#eb04fc;--num:<%= percentage3 %>">
                <div class="dot"></div>
                <svg>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                </svg>
                <div class="stats">
                    <h2><%= percentage3 %><span>%</span> </h2>
                    <p>HTML</p>
                </div>
                <form action="/" method="post">
                    <input type="number" name="inp3">
                    <button name="btn1" autocomplete="off" value="3" type="submit" >OK</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="percent" style="--clr:#e99217;--num:<%= percentage4 %>">
                <div class="dot"></div>
                <svg>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                    <circle cx = "70" cy = "70" r = "70" ></circle>
                </svg>
                <div class="stats">
                    <h2><%= percentage4 %><span>%</span> </h2>
                    <p>HTML</p>
                </div>
                <form action="/" method="post">
                    <input type="number" name="inp4">
                    <button name="btn1" autocomplete="off" value="4" type="submit" >OK</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>